body {
    width: 1100px;
    height: 500px;    
    background-color: black
}
    
    .css-carousal{
        overflow: hidden;
        margin-left: 5%;
        margin-top: 2%;    
    }
    
    .css-carousal .css-img {
        border-radius: 20px;
        width: 90%;
        height: 90%;
        max-width: 90%; 
        max-height: 90%;
        position: absolute; 
        opacity:0;
        -webkit-animation-name: css-animation-fade;     
        -webkit-animation-duration: 20s;
        -webkit-animation-iteration-count: infinite;
    }
    .css-carousal .css-img:nth-child(2){
        -webkit-animation-delay: 5s;
    }
    .css-carousal .css-img:nth-child(3){
        -webkit-animation-delay: 10s;
    }
    .css-carousal .css-img:nth-child(4){
        -webkit-animation-delay: 15s;
    }
    /***********
    .css-carousal .css-img:nth-child(5){
        -webkit-animation-delay: 20s;
    }
    .css-carousal .css-img:nth-child(6){
        -webkit-animation-delay: 25s;
    }
    ************/
        @-webkit-keyframes css-animation-fade{
            from { opacity:0;}
            5% { opacity:1;}
            15% {opacity:1;}
            20% { opacity:0;}
            to { opacity:0;}
        }


