/*************************************
Genral
*************************************/
body {
    background-color: #333;
    font-family: Arial
}
#aboutme {
    text-align: center;
    margin: 0;
    font-family: 'Yellowtail', cursive;
    font-size: 2.5em;
}
#me {
    text-align: center;
    margin: 0;
    font-family: 'Yellowtail', cursive;
    font-size: 1.5em;
}
.swag {
    float: right;
    text-align: right;
    width: 200px ;
    height: 200px;    
}
.swag:hover {
    background-image: url("Hover.png");
    float: right;
    text-align: right;
    width: 200px ;
    height: 200px;
}
/* #wrapper {
    max-width: 950px;
    margin: 20px auto;
    background-color: #666;
    padding: 5% 7%;
} */
 /* img{
    width: 820px;
    margin: 0 7%
} */
#imglist {
    list-style: none
}
.drop {
    text-decoration: none;
    font-size: 1em;
}
#Dropstarter {
    text-decoration: none;
    font-size: 2em;
}
img {
    max-width: 100%
}
/*************************************
Navigation
*************************************/

/*************************************
Footer
*************************************/
footer{
  font-size: .75em;   
  text-align: center;
  clear: both;
}
.hobeys {
    width: 50px;
    height: 50px;    
    margin-left: 46%;
    clear: both;
    display: inline-block;
}
.Social {
    width: 50px;
    height: 50px;    
    clear: both;
    display: inline-block;   
}
/*************************************
Page Portfolio
*************************************/
#imglist {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #666;
}
#imglist li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #555;
    color: #ff0000;
}
p {
    font-family: 'Yellowtail', cursive;
    font-size: 1.5em;
}
/*************************************
Bootstrap
*************************************/
.Logo {
    background: transparent
}
/*************************************
Bootstrap
*************************************/
header {
    padding-bottom: 130px;
}
/*************************************
Drop Down Menu
*************************************/
#nav {
    background-color: #222;
    padding-bottom: 20px;
}

#nav_wrapper {
    width: 1092px;
    margin: 0 5% ;    
    text-align: left
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: left;
}
#nav ul li {
    display: inline-block;
} 
#nav ul li:hover {
    background-color: #111;
}
#nav ul  li .drop,visited {
    display: block;
    padding: 15px
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: black;
}
#nav ul ul li {
    display: block;
}
#Arrow {
    background-color: #222;
    width: 13px;
    height: 13px;
     
}
#Arrow:hover {
    background-color: #111;
}

/*************************************************
Carousal
**************************************************/
    #carousal div img {
        margin: 2% 0 0 0;
        width: 820px;
        height: 620px;
    }
    .css-carousal{
        overflow: hidden;
        margin-left: 20%;
        margin-top: 2%;    
    }
    
    .css-carousal .css-img {
        border-radius: 5px;
        width: 100%;
        height: 90%;
        max-width: 100%; 
        max-height: 90%;
        position: absolute; 
        opacity:0;
        -webkit-animation-name: css-animation-fade;     
        -webkit-animation-duration: 20s;
        -webkit-animation-iteration-count: infinite;
        clear: both;
    }
    .css-carousal .css-img:nth-child(2){
        -webkit-animation-delay: 5s;
    }
    .css-carousal .css-img:nth-child(3){
        -webkit-animation-delay: 10s;
    }
    .css-carousal .css-img:nth-child(4){
        -webkit-animation-delay: 15s;
    }
    /***********
    .css-carousal .css-img:nth-child(5){
        -webkit-animation-delay: 20s;
    }
    .css-carousal .css-img:nth-child(6){
        -webkit-animation-delay: 25s;
    }
    ************/
        @-webkit-keyframes css-animation-fade{
            from { opacity:0;}
            5% { opacity:1;}
            15% {opacity:1;}
            20% { opacity:0;}
            to { opacity:0;}
        }
/*************************************
Colors
*************************************/
.Gold {
    color: orange;
}
.drop{
    color: #c011db;
}
a:active {
    color: #56064d;
}
header {
   
}
.red {
    color: #ff0000;
}
.drop {
    font-family: 'IM Fell Great Primer', serif;
}
/*************************************
About
*************************************/
.About-picture {
    margin: 0 0 0 100px;
    border-radius: 900px;
    
}
#About_paragraph {
    text-align: center;
}
/*************************************
Contact
*************************************/
#Contact-Wrapper { 
    height: 400px;
    margin-left: 10%;
}
#Contact_head {
    text-align: center;
    font-size: 2em;
    font-size: 1.5em;
}
.Contact-info {
    list-style: none;
    padding: 0;
    margin: 0
}
.Contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 0 20px;
}
.Contact-info li.steam .contract {
    background-image: url('../Images/unnamed.png') 
}
.Contact-info li.mail .contract {
    background-image: url('../Images/mail.png')
}
form {
    margin: 0 0 0 20px;
}
.Contact-p {
    color: white;
}
/*************************************
Media Querie
*************************************/
@media screen and (min-width: 480px) {
    #Primary {
        margin-left: 10%;
        width: 40%;
        float: left;           
    }
    #Secendary {
        margin-right: 10%;
        width: 40%;
        float: right;        
    }
    #imglist li {
        width: 28.333333333333333333333333%;
    }
    .About-picture {
        float: left;
        margin: 0 5% 80px 60px;
    }
} 
@media screen and (min-width: 660px) {
 /*Nav*/
 #nav {
     background: none;
     margin: 0 5% 0 0;
     text-align: right;
     width: 45%;
 }
 #aboutme{
     float: right;
     margin-right: 5%;
     text-align: right;
     width: 45%
 } 
 #me {
     float: right;
     margin-right: 5%;
     text-align: right;
     width: 45%
 } 
}
/*************************************
Modal
*************************************/
.container {
    margin: 0 0 40px 20px;
}